.input {
  @apply bg-indigo-50 rounded border border-indigo-50 transition-colors duration-150 p-2;
}
input:hover {
  @apply bg-indigo-100;
}
input:focus {
  @apply border-indigo-400 bg-indigo-50;
  outline: none;
}

.label {
  @apply text-indigo-500 mb-1 font-medium;
}
