@import './components/input.css';
@import './components/button.css';

.container {
  max-width: 1400px;
  @apply px-4 mx-auto flex flex-col;
}

.container-sm {
  max-width: 1200px;
  @apply px-4 mx-auto flex flex-col;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.highlight {
  background: linear-gradient(180deg, transparent 0%, transparent 55%, theme('colors.indigo.50') 55%, theme('colors.indigo.50') 100%);
}

html {
  scroll-behavior: smooth;
}

@screen lg {
  .prose pre {
    padding: 0px !important;
    margin: 0 -50px !important;
  }
}
